.title {
  padding: 24px;
}
h1 {
  font-weight: 900;
  font-size: xxx-large;
}
h1 span {
  color: #1877f2;
}
.star {
  color: red;
}
.register {
  padding: 24px;
}
.btnlogin {
  width: 100%;
}
.firstp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #4e4b66;
}
.secondp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #4e4b66;
}
.facgoogle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.btnfacebook {
  width: 45%;
  height: 45px;
  background: #e5ecf4;
  color: #667080;
}
.btngoogle {
  width: 45%;
  height: 45px;
  background: #e5ecf4;
  color: #667080;
}
.signuplink {
  color: #1877f2;
  margin-left: 5px;
  text-decoration: none;
}
.fogotpass {
  color: #1877f2;
  float: right;
  text-decoration: none;
}
.pass_show {
  position: relative;
}

.pass_show .ptxt {
  position: absolute;

  top: 50%;

  right: 10px;

  z-index: 1;

  color: #f36c01;

  margin-top: -10px;

  cursor: pointer;

  transition: 0.3s ease all;
}

.pass_show .ptxt:hover {
  color: #333333;
}

.show {
  display: flex;
  justify-content: flex-end;
  margin: -25px 10px 0 300px;
}
.error {
  border: 1px solid #c30052 !important;
  background-color: #ffd5e7;
}
.error-text {
  color: red;
}
label {
  font-weight: 700;
  color: #4e4b66;
}
